<div class="global-container">
  <header class="flex-center">
    <h1>Convert temperatures between Celsius(°C) and Fahrenheit(°F)</h1>
  </header>


  <main class="flex-center">
    <div class="app-input-container">
      <app-temperature-input
        [lbl]="'Celsius'"
        [initialValue]="c"
        (newInputValue)="onCelsiusInput($event)">
      </app-temperature-input>

      <app-temperature-input
        [lbl]="'Fahrenheit'"
        [initialValue]="f"
        (newInputValue)="onFahrenheitInput($event)">
      </app-temperature-input>
    </div>
  </main>


  <footer class="flex-center">
    <div>
      Made with <span class="emoji">💙</span> by
      <strong>
        <a href="https://github.com/red1code/celsius-fahrenheit" target="_blank"
          style="text-decoration: none; color: inherit">
          Red1Dev
        </a>
      </strong>
      <span>{{ year }}</span>
    </div>
  </footer>
</div>
