/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Segoe UI Emoji';
  src: url(./assets/seguiemj.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/bg-by-sebastien-gabriel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
