/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 300px;
}

.input-form {
  outline: none;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
